body{
    background-image: url("https://get.pxhere.com/photo/mountainous-landforms-mountain-sky-mountain-range-alps-ridge-natural-landscape-winter-cloud-hill-massif-wilderness-snow-morning-fell-highland-summit-glacial-landform-hill-station-landscape-horizon-mount-scenery-sunlight-ice-celestial-event-evening-national-park-glacier-sunrise-valley-world-ice-cap-dawn-sunset-1557621.jpg");
    height:800px;
    background-position: centre;
    background-size: cover;
}    
.heading{
    padding-top: 20px;
    text-align: center;
}
.title{
    padding-top: 20px;
    text-align: center;
}
img{
    width: 50%;
    height: 50%;
    float:left;
}
.graph{
    width: 100%;
    height: 100%;
    
}
.fig{
    width: 75%;
    height: 75%;
}
.box{
    margin-top: 50px;
    margin-bottom: 80px;
    padding:inherit;
    background-color: white;
}
.box-compare{
    margin-top: 60px;
    margin-bottom: 90px;
    margin-left: 20px;
    margin-right: 20px;
    padding:20px;
    background-color: white;
    
}
.header{
    text-align: centre;
}
.dataframe{
    text-align: center;
    margin-left: 90px;
    border: 1px solid black;
    border-collapse: collapse;
}
.head{
    margin-right: 20px;
}
tr{
    border: 1px solid black;
    background-color: rgb(247, 216, 221);
    
}
tr:nth-child(odd){
    border: 1px solid black;
    background-color:white;
    
}
th{
    background-color:rgb(247, 216, 221);
    padding:20px;
}



